@import "tailwindcss";

@theme {
  --font-sans: 'Fira Code', monospace;
  --font-mono: 'Fira Code', monospace;
  
  /* Semantic Colors */
  --color-background: #09090b; /* zinc-950 */
  --color-surface: #18181b; /* zinc-900 */
  --color-primary: #6366f1; /* indigo-500 */
  --color-text-main: #f4f4f5; /* zinc-100 */
  --color-text-muted: #a1a1aa; /* zinc-400 */
  --color-border: #27272a; /* zinc-800 */
}

@layer base {
  html {
    scroll-behavior: smooth;
    color-scheme: dark;
    /* Firefox Scrollbar */
    scrollbar-width: thin;
    scrollbar-color: #374151 transparent;
  }
  
  body {
    @apply bg-background text-text-main font-sans antialiased selection:bg-primary/30;
  }

  /* Webkit Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #374151;
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #4B5563;
  }
}
